{% extends 'base.html' %}

{% block content %}
  <br>
  <h1 class='fw-bold'>{{ movie.title }}</h1>
  <img src=" {{url}}" alt="" width="500">
  <div class='fs-4'>개봉일 : {{ movie.release_date }}</div>
  <div class='fs-4'>평점 : {{ movie.vote_average }}</div>
  {% if movie.overview %}
    <div class='fs-5'>줄거리 : {{ movie.overview }}</div>
  {% endif %}
  <div class='fs-5'> 장르 : 
    {% for genre in movie.genres.all %}
      {{ genre.name }}
    {% endfor %}
  </div>
  
  <form class="like-form" data-movie-id="{{ movie.pk }}">
    {% csrf_token %}
    {% if user in movie.like_users.all %}
        <button id="like-button-{{ movie.pk }}" class='btn btn-secondary'>찜 목록에서 삭제</button>
      {% else %}
        <button id="like-button-{{ movie.pk }}" class='btn btn-primary'>찜 목록에 추가</button>
      {% endif %}
  </form>

  <hr>
  <h4>평점 목록</h4>
  {% if comments %}
    <p><b>{{ comments|length }}개의 평점이 있습니다.</b></p>
  {% endif %}
  <ul> 
    {% for comment in comments %}
      <li>
        {% if comment.rank == 1 %}★
        {% elif comment.rank == 2 %}★★
        {% elif comment.rank == 3 %}★★★
        {% elif comment.rank == 4 %}★★★★
        {% else %}★★★★★
        {% endif %}
        {{ comment.content }} - {{ comment.user }}
        {% if user == comment.user %}
          <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>평점이 아직 없어요!</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    {% comment %} <form class="comment-form" data-movie-id="{{ movie.pk }}"> {% endcomment %}
    <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" id="comment-submit-{{ movie.pk }}" value='등록'>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[평점을 작성하려면 로그인하세요.]</a>
  {% endif %}
  

{% endblock %}




<script>
  // 찜하기 기능
  const forms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach(form => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const movieId = event.target.dataset.movieId
      console.log(movieId)
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/movies/${movieId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          // console.log(response.data)
          const liked = response.data.liked
          const likeButton = document.querySelector(`#like-button-${movieId}`)
          const count = response.data.count
          likeButton.classList.toggle('btn-primary')
          likeButton.classList.toggle('btn-secondary')

          if (liked === true) {
            likeButton.innerText = '찜 목록에서 삭제'
          } else {
            likeButton.innerText = '찜 목록에 추가'
          }
        })
    })
  })
  {% comment %} const forms = document.querySelectorAll('.comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  // console.log(csrftoken)
  // for..of / forEach 여러 forms를 반복을 돌면서 axios를 요청할 수 있도록 함
  forms.forEach(form => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      console.log(event.target.dataset.movieId)
      const movieId = event.target.dataset.movieId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/movies/${movieId}/comments/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          console.log(response.data)
          const comment_submit = document.querySelector(`#comment-submit-${movieId}`)

        })
    })
  }) {% endcomment %}

</script>
