{% extends 'base.html' %}

{% block content %}

<br>

<div class="row">
{% for movie_list in movies %}
  <div class="col-2">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-body">
        {% if movie_list.poster_path|length%}
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
            id="mouse-enter"
          >
            <img
              src="https://image.tmdb.org/t/p/original/{{movie_list.poster_path}}"
              class="img-fluid"
              
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
        {% else %}
        포스터가 없는 영화입니다
        {% endif %}

        <button type="button" id="mouseOver{{movie_list.id}}" class="d-none btn btn-outline-light mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal{{movie_list.id}}">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{movie_list.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{movie_list.id}}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{movie_list.id}}">{{movie_list.title}} {{movie_list.release_date}}개봉</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <img
                src="https://image.tmdb.org/t/p/original/{{movie_list.poster_path}}"
                class="img-fluid"
              />
                {{movie_list.overview}}
              </div>
              <div class="modal-footer">
              <a>                <button type="button" class="btn btn-outline-light mb-4" data-bs-dismiss="modal">닫기</button></a>
                <a href="{% url 'movies:detail' movie_list.id %}">
                  <button type="button" class="btn btn-outline-light mb-4">상세페이지</button>
                </a>
                <form class="like-form" data-movie-id="{{ movie_list.pk }}">
                  {% csrf_token %}
                  {% if user in movie_list.like_users.all %}
                    <button id="like-button-{{ movie_list.pk }}" class='btn btn-outline-light mb-4'>찜 목록에서 삭제</button>
                  {% else %}
                    <button id="like-button-{{ movie_list.pk }}" class='btn btn-outline-light mb-4'>찜 목록에 추가</button>
                  {% endif %}
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

{% endfor%}
</div>


<button type="button" class="btn btn-primary d-none " id="liveToastBtn">찜한 영화목록</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">찜한 영화목록</strong>
      <small>{{ person.like_movies.all|length}}가지</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <ul>
        {% if person.like_movies.all|length%}
          {% for movie in person.like_movies.all %}
            <li>{{movie}}</li>
          {% endfor %}
        {% else %}
          <li>찜목록이 없어용</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>


<script>
var toastTrigger = document.getElementById('liveToastBtn')
var toastLiveExample = document.getElementById('liveToast')
if (toastTrigger) {
  toastTrigger.addEventListener('click', function () {
    var toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}
const liveToastBtn = document.querySelector('#liveToastBtn')
const saves = document.querySelectorAll('.like-form .btn')
const forms = document.querySelectorAll('.like-form')
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
const modalButtons = document.querySelectorAll('.d-none')
//#mouseOver{{movie_list.id}} 일케잡음 안됫엇지!! 아아, 그리고 id말고 class로하니까잡히네..?뭐지
//cnt 주면 글케잡아도될듯\
// 아니죠 인덱스를 알아야죠 modalEnters의 각 인덱스

const modalEnters = document.querySelectorAll('#mouse-enter')
//호버되는 이미지말고 바깥 div바꿔주고 하는거 중요 체크 ㅇㅇ


modalEnters.forEach(function(element,index){
    element.addEventListener('click',function(){
    console.log(index)
    modalButtons[index].click()// 오...미친 이 사용법이 되네연?
    })
})

window.onload=function(){
      liveToastBtn.click()

}
  // console.log(csrftoken)
  // for..of / forEach 여러 forms를 반복을 돌면서 axios를 요청할 수 있도록 함
   forms.forEach(form => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event.target.dataset.movieId)
      const movieId = event.target.dataset.movieId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/movies/${movieId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          console.log(response.data)
          const liked = response.data.liked
          const likeButton = document.querySelector(`#like-button-${movieId}`)
          const count = response.data.count
          likeButton.classList.toggle('btn-secondary')
          likeButton.classList.toggle('btn-secondary')

          if (liked === true) {
            likeButton.innerText = '찜 목록에서 삭제'
          } else {
            likeButton.innerText = '찜 목록에 추가'
          }
        })
    })
  }) 
</script>
{% endblock %}
