
{% extends 'base.html' %}
{% load static %}
{% block content %}



<br><br>

<!-- Section: Form -->
    <section class="">
      <form action="{% url 'movies:result' %}" method="GET">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>보고싶은 장르를 클릭해 넣어주세요</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="text" id="form5Example21" class="form-control" name="search" value="" />
              {% comment %} 밸류있어야함 ,왜 name없으면오류나지{% endcomment %}
              <label class="form-label" for="form5Example21">장르</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" id="button" class="btn btn-outline-light mb-4">
              검색
            </button>
            <button type="button" id="button2" class="btn btn-outline-light mb-4">
              초기화
            </button>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            

  
          </div>
          <!--Grid column-->
        </div>


        <!--Grid row-->
      </form>

      <div class="row d-flex justify-content-center">
      <div class="col-auto">
      </div>
      <div class="col-auto">
      <ul>

        </ul>
      </div>
      <div class="col-auto">
      </div>
      </div>

      
    </section>
    <!-- Section: Form -->
<div class="container">
<div class="row">
  
  {% for key,val in genre.items %}
  <div class="col-2">
    <div class="card movie">

      <div
        class="bg-image hover-overlay ripple"
        data-mdb-ripple-color="light"
      >
        <img
          src="{% get_static_prefix %}images/{{val}}.jpg"
          class="img-fluid"
        />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
   


      <div class="card-body" >
      
        <p class="card-title text-center">{{ key }}</p>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
</div>


  

<script> 

const search = document.querySelector('.form-control')
const btn2 = document.querySelector('#button2')
//const test = document.querySelector('#test')


let arr = ''
let arr2 = []


const genre = document.querySelectorAll('.movie').forEach(item =>{
  item.addEventListener('click', event => {
    //console.log('hi')
    //console.log(item.innerText)
    arr+=item.innerText+','
    if (arr2.includes(item.innerText)===false){
      arr2.push(item.innerText)
      // 아 arr.push라고함 ㅡㅡ
    }
    arr+=item.innerText
    
    let arr3  =arr2.toString()
    
    console.log(arr)
    console.log(arr2)
    search.value=arr3
    //중복 입력 방지를위해 배열->문자열로한거 arr3을만듬
    search.focus()
    //한줄로가능
    //focusMethod()
  })
})


btn2.addEventListener('click', function (event) {
       search.value=""
       arr=''
       arr2=[]
       
  })


</script>
{% endblock %}
