{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
  <div class="col-6 mx-auto" id="mbmb">
    <div class="card border-light mb-3">
      <div class="card-header">
        <a href="{% url 'movies:detail' movie.pk %}" type='btn' class='text-light fs-3'>{{ movie.title }}</a>
      </div>
      <div class="card-body">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}"
            class="img-fluid"
          />
          <a href="{% url 'movies:detail' movie.pk %}">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
      </div>
    </div>
  </div>
 </div> 

{% endblock %}

