{% extends 'base.html' %}

{% block content %}
  <hr>
  <h3>제목: {{ review.title }}</h3>
  <p class='fs-5'>내용: {{ review.content }}</p>
  <div class='fw-light'>작성 시각: {{ review.created_at }}</div>
  <div class='fw-light'>수정 시각: {{ review.updated_at }}</div>
  <br>
  
  {% if user == review.user %}
    <a href="{% url 'community:update' review.pk %}" type='btn' class='btn btn-outline-light mb-4 d-inline-block'>수정하기</a>
    <form action="{% url 'community:delete' review.pk %}" method="POST" class='d-inline-block'>
    {% csrf_token %}
    <input type="submit" class='btn btn-outline-light mb-4' value="삭제하기">
  </form>
  {% endif %}
  <hr>

  <h4 class='fw-bold d-inline'>댓글 목록</h4>
  {% if comments|length %}
    <p class='d-inline'>({{ comments|length }})</p>
  {% endif %}
  <ul>
  {% for comment in comments %}
    <li>
      {{ comment.user }} - {{ comment.content }}
        {% if user == comment.user %}
          <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-sm">
              <i class="fas fa-trash-alt fa-sm"></i>
            </button>
          </form>
        {% endif %}
    </li>
  {% empty %}
    <li><b>댓글이 없어요..</b></li>
  {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:create_comment' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" class="btn btn-outline-light mb-4" value="댓글쓰기">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <div class='d-flex justify-content-end'>
    <a href="{% url 'community:index' %}" type='btn' class='btn btn-outline-light mb-4'>목록으로</a>
  </div>
{% endblock  %}
