{% extends 'base.html' %}

{% block content %}
<br>
{% comment %} {{page_obj}} {% endcomment %}
{% comment %} 정렬 어거지로 ㅇㅇ {% endcomment %}
<div class="d-flex flex-row-reverse">
<a class="navbar-brand" href="{% url 'community:create'%}"><button type="button" id="test" class="btn btn-outline-light mb-4 float-right" >
              글쓰기
            </button></a>
</div>


<table class="table table-striped table-hover">
<thead>
<tr>
<th>번호</th>
<th>제목</th>
<th>작성시간</th>
<th>작성자</th>
{% comment %} <th>좋아요수</th> {% endcomment %}
{% comment %} <th>좋아요</th> {% endcomment %}
</tr>
</thead>
<tbody>
{% for review in page_obj %}
<tr>
<td>{{ review.pk }}</td>

<td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></td>
<td>{{ review.created_at }}</td>
<td><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></td>
{% comment %} <td><span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span></td> {% endcomment %}
{% comment %} <td>123</td> {% endcomment %}
</tr>
{% endfor %}
</tbody>

</table>


<br><br>
  
  {% comment %} {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>

    <form class="like-form" data-article-id="{{ review.pk }}">
      {% csrf_token %}
      {% if user in review.like_users.all %}
          <button id="like-button-{{ review.pk }}" class='btn btn-outline-light mb-4'>좋아요 취소</button>
        {% else %}
          <button id="like-button-{{ review.pk }}" class='btn btn-outline-light mb-4'>좋아요</button>
        {% endif %}
      </form>
      <p>
        <span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span>명이 이 글을 좋아합니다.
      </p>
  
    <a href="{% url 'community:detail' review.pk %}" type='btn' class='btn btn-outline-light mb-4'>detail</a>
    <hr>
  {% endfor %} {% endcomment %}

  {% comment %} <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  justify-content-md-center이건 임의추가
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> {% endcomment %}
{% comment %} {% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{contact.title}}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %} {% endcomment %}

<nav class="pagination justify-content-center" aria-label="Page navigation example">
    <ul class="step-links pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link">&laquo; 처음페이지 /</a></li>
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">이전페이지</a></li>

        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">다음페이지</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">/ 마지막페이지 &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}



{% block script %}
<script>
  // 1. form 태그를 class 선택자로 선택
  const forms = document.querySelectorAll('.like-form')
  // console.log(forms)
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  // 2. for..of / forEach 여러 forms를 반복을 돌면서 axios를 요청할 수 있도록 함
  forms.forEach(form => {
    // console.log(form)
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event.target.dataset.articleId)
      const articleId = event.target.dataset.articleId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/community/${articleId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          // console.log(response.data)
          const liked = response.data.liked
          const likeButton = document.querySelector(`#like-button-${articleId}`)
          const likeCount = document.querySelector(`#like-count-${articleId}`)
          const count = response.data.count
          likeButton.classList.toggle('btn-primary')
          likeButton.classList.toggle('btn-secondary')

          if (liked === true) {
            likeButton.innerText = '좋아요 취소'
          } else {
            likeButton.innerText = '좋아요'
          }

          likeCount.innerText = count
        })
    })
  })

</script>
{% endblock script %}