{% extends 'base.html' %}

{% block content %}
{% comment %} {{person}} {% endcomment %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% comment %} {% with followings=person.followings.all followers=person.followers.all %}
    <div id="follow-count">
      <div class='fs-4'>팔로잉 수 : {{ followings|length }} / 팔로워 수 : {{ followers|length }}</div>
    </div>
    {% if user != person %}
      <div>
        <form id="follow-form" data-user-id="{{ person.pk }}">
          {% csrf_token %}
          {% if user in followers %}
            <button>언팔로우</button>
          {% else %}
            <button>팔로우</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
  {% endwith %} {% endcomment %}
  <br>
{% comment %} {{url_key|length}} {% endcomment %}

  <div class="container">
    <div class='row'>
      <div class="box col-4">
        {% comment %} <p>  {{result}}</p> {% endcomment %}
        {% if url_key|length %}
        <div class="card" style="width: 20rem;">
          <img src="https://image.tmdb.org/t/p/original/{{result.poster_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{result.title}}</h5>
            <p class="card-text">{{result.overview|slice:":50"}}</p>
            <a href="{% url 'movies:detail2' result.id %}" class="btn btn-secondary">상세페이지로...</a>
          </div>
        </div>
        <div>{{ person.username}} 님의 찜목록 기반 추천영화</div>
        {% else %}
        찜 목록이 없어서 추천할 수 없어용
        {% endif %}
      </div>

      <div class="box col-8">
        <h3>{{ person.username }}가 찜한 영화</h3>
        {% if url_key|length%}
        {% for movie in person.like_movies.all %}
        <li>
          <div class='fs-5 d-inline'>{{ movie.title }}</div>
                  {% comment %} {{movie.genres.all}}  {% endcomment %}

          {% comment %} {{movie.genres}} {% endcomment %}
          <a href="{% url 'movies:detail' movie.pk %}" type='btn' class='btn btn-light d-inline'>detail</a>    
        </li>
        {% endfor %}
        <br>
        {% else %}
        찜 목록이 없어용
        {% endif %}

        <h3>{{ person.username }}'s 게시글</h3>
        <ul>
          {% for review in person.review_set.all %}
          <li>
            <div class='fs-5 d-inline'>제목 : {{ review.title }}</div>
            <a href="{% url 'community:detail' review.pk %}" type='btn' class='btn btn-secondary d-inline'>바로가기</a>
          </li>
          {% endfor %}
        </ul>
        <br>

        <h3>{{ person.username }}'s 댓글</h3>
        {% for comment in person.comment_set.all %}
          <div>{{ comment.content }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  

{% comment %} 
  <h3>{{ person.username }}가 찜한 영화</h3>
    {% if url_key|length%}
    {% for movie in person.like_movies.all %}
    <li>
      <div class='fs-5 d-inline'>{{ movie.title }}</div>
      {{movie.genres}}
      <a href="{% url 'movies:detail' movie.pk %}" type='btn' class='btn btn-light d-inline'>detail</a>    
    </li>
    {% endfor %}
    <br>
    {% else %}
    찜 목록이 없어용
    {% endif %} {% endcomment %}
  
    
 
  
  {% comment %} {{url_key}}
  {{cnt}}
  {{num2}}
  {{genre_list}}
  {{genre}}
  {{genre3}} {% endcomment %}
  {% comment %} {{num}}
  {{genre}}
  {{genre2.name}} {% endcomment %}
  {% comment %} {{person}} {% endcomment %}
  {% comment %} {{movie_list}} {% endcomment %}

  {% comment %} {% for movie in movie_list%}
    {{movie.id}}
    {{movie.genres.all}}
    {{genre}}
  {% endfor%} {% endcomment %}


  {% comment %} <h3>{{ person.username }}'s 게시글</h3>
  <ul>
    {% for review in person.review_set.all %}
    <li>
      <div class='fs-5 d-inline'>제목 : {{ review.title }}</div>
      <a href="{% url 'community:detail' review.pk %}" type='btn' class='btn btn-secondary d-inline'>바로가기</a>
    </li>
    {% endfor %}
  </ul>
  <br>

  <h3>{{ person.username }}'s 댓글</h3>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}
  <hr> {% endcomment %}
{% endblock content %}

{% block script %}
  <script>
    const form = document.querySelector('#follow-form')
    // console.log(form)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    form.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event)
      const userId = event.target.dataset.userId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/accounts/${userId}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          // 팔로우 버튼 토글
          // console.log(response)
          const followBtn = document.querySelector('#follow-form > button')
          const isFollowed = response.data.isFollowed
          const followers_count = response.data.followers_count
          const followings_count = response.data.followings_count
          // const { isFollowed, followers_count, followings_count } = response.data
          const followCountDiv = document.querySelector('#follow-count > div')

          if (isFollowed === true) {
            followBtn.innerText = '언팔로우'
          } else {
            followBtn.innerText = '팔로우'
          }

          followCountDiv.innerText = `팔로잉 수 : ${followings_count} / 팔로워 수 : ${followers_count}`
        })
    })


  </script>
{% endblock script %}
