{% extends 'base.html' %}

{% block content %}
  <br>
  <h1><i class="fas fa-user-alt"></i> 프로필 - {{ person.username }}</h1>
  <br>

  <div class="container">
    <div class='row'>
      <div class="box col-4"> 
        {% if url_key|length %}
        <div class="card w-100">
          <img src="https://image.tmdb.org/t/p/original/{{result.poster_path}}" class="card-img-top" alt="No Poster">
          {% comment %} 포스터 안뜨는 것도 있음 {% endcomment %}
          <div class="card-body">
            <h5 class="card-title d-inline-block">{{result.title}}</h5>
            <a href="{% url 'movies:detail2' result.id %}" class='d-inline-block'>
              <i class="fas fa-info-circle fa-lg text-light"></i>
            </a>
            <p class="card-text">{{result.overview|slice:":50"}}...</p>
            
            <div class='fw-light d-inline-block' style='color:gray'>찜 목록을 기반으로 추천하는 영화입니당!</div>
          </div>
        </div>
        {% else %}
        찜 목록이 없어서 추천할 수 없어용
        {% endif %}
      </div>

      <div class="box col-8">
        <h3><i class="fas fa-heart text-danger "></i> 찜한 영화들</h3>
        <ul>
        {% if url_key|length%}
          {% for movie in person.like_movies.all %}
          <li>
            <div class='fs-5 d-inline'>
              <a class='text-light' href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }}</a>
            </div>
            {% if user == person %}
            <form action="{% url 'movies:unlike' movie.pk %}" method="POST" class="d-inline">
              {% csrf_token %}
              <button class="btn btn-outline-light btn-sm">
                <i class="fas fa-trash-alt fa-sm"></i>
              </button>
            </form>
            {% endif %}
          </li>
          {% endfor %}
          <br>
        {% else %}
          <li>찜 목록이 없어용!</li>
        {% endif %}
        </ul>

        <h3><i class="fas fa-clipboard-list text-primary"></i> 작성한 게시글</h3>
        <ul>
          {% for review in person.review_set.all %}
          <li>
            <div class='fs-5 d-inline'>제목 : {{ review.title }} </div>
            <a href="{% url 'community:detail' review.pk %}" class=' d-inline'>
              <i class="fas fa-paperclip text-light"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        <br>

        <h3><i class="fas fa-star text-warning"></i>평점 목록</h3>
        <ul>
          {% for comment in person.movie_comments.all %}
          <li>
            {% for movie in movies %}
              {% if movie.id == comment.movie_id %}
                <div class='d-inline'>
                  <a class='text-light' href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }} - </a>
                </div>
              {% endif %}
            {% endfor %}
            <div class='d-inline-block text-warning'>
              {% if comment.rank == 1 %}★
              {% elif comment.rank == 2 %}★★
              {% elif comment.rank == 3 %}★★★
              {% elif comment.rank == 4 %}★★★★
              {% else %}★★★★★
              {% endif %}
            </div>
            {{ comment.content }}<br>
          </li>
          {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock content %}
